.speech{
    font-family: Helvetica;
    font-size: large;
    color: black;
}

.stage-direction{
    font-family: Arial;
    font-size: large;
    color: red;
    background-color: lightcyan;
}

.stage-direction:hover{
    background-color: lightgreen;
}

.name{
    font-family: Times;
    font-size: large;
    color: black;
}

.duke{
    color:blue;
}

.duke:hover{
    background-color: gold;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.maffio{
    color:darkgreen;
}

.maffio:hover{
    background-color: goldenrod;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.cardinal{
    color:brown;
}

.cardinal:hover{
    background-color: blanchedalmond;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.guido{
    color:darkmagenta;
}

.guido:hover{
    background-color: yellow;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.bardi{
    color:darkslategrey;
}

.bardi:hover{
    background-color: silver;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.duchess{
    color:purple;
}

.duchess:hover{
    background-color: cornsilk;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.firstcitizen{
    color:plum;
}

.firstcitizen:hover{
    background-color: aqua;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.table, th, td, tr:nth-child(even){
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-collapse: collapse;
    color: navy;
    text-align: center;
    background-color: lightyellow;
    padding: 10px;
    margin: 50px;
  }

.secondcitizen{
    color:firebrick;
}

.secondcitizen:hover{
    background-color: pink;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

.thirdcitizen{
    color:limegreen;
}

.thirdcitizen:hover{
    background-color:linen;
    border: 1px solid;
    box-shadow: 5px 5px red;
    text-shadow: 1px 1px #ff0000;
    filter:blur(1px);
}

