.speech{
    font-family: Helvetica;
    font-size: large;
    color: black;
}

.stage-direction{
    font-family: Arial;
    font-size: large;
    color: red;
    background-color: lightcyan;
}

.stage-direction:hover{
    background-color: lightgreen;
}

.name{
    font-family: Times;
    font-size: large;
    color: black;
}

.duke{
    color:blue;
}

.maffio{
    color:darkgreen;
}

.cardinal{
    color:brown;
}

.guido{
    color:darkmagenta;
}

.bardi{
    color:darkslategrey;
}

.duchess{
    color:purple;
}

.firstcitizen{
    color:aqua;
}

.table, th, td, tr:nth-child(even){
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-collapse: collapse;
    color: navy;
    text-align: center;
    background-color: lightyellow;
    padding: 10px;
    margin: 50px;
  }